@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

body {
    background: black;
}

html,
.fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}

.main {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    text-align: center;
}

.heading {
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-shadow: 0px 0px 10px turquoise;
    font-size: 70px;
    animation: glow 1s ease-in-out infinite alternate;
}

.button {
    font-family: 'Roboto Mono', monospace;
    background: black;
    color: white;
    border: 3px solid;
    font-size: 40px;
    padding: 10px;
    text-shadow: 0px 0px 20px cyan;
    box-shadow: 0px 0px 10px cyan;
}

.change {
    font-family: 'Roboto Mono', monospace;
    background: black;
    color: white;
    padding: 10px;
    font-size: 50px;
    text-shadow: 0px 0px 10px cyan;
}